html {
    scroll-behavior: smooth;
}

body {
    height: 1400px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: 'Manrope', sans-serif;

}

footer {
    width: 100%;
    margin-top: auto;
}

main {
    margin: 0 auto;
}


/* .header__container {
    margin: 33px auto 70px;
    color: #121212;
    max-width: 1180px;
    padding: 0 15px;
}

.logo {
    width: 126.89px;
}

.nav {
    display: inline-block;
    vertical-align: top;
    padding-left: 558px;
    margin-right: 0;
}

.nav :last-child {
    padding-right: 0;
}

.nav__link {
    padding-right: 60px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #121212;
}

.header__link--active {
    text-decoration: underline;
    opacity: 0.5;
} */

.section-development__team {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;


}

.development__team-title {
    max-width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}

.development__team-box {
    position: relative;
    height: 500px;
    max-width: 1150px;
    margin-top: 30px;
    background-image: url('../resources/img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.development__team-description {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #ffffff;

}

.about_us {
    max-width: 1180px;
    /* height: 518px; */
    margin: 0 auto 150px;

}

.about_us-title {
    font-size: 18px;
    color: #121212;
    font-weight: 400;
    line-height: 24.59px;
    margin-top: 150px;


}

.about_us-description {
    max-width: 1048px;
    font-size: 45px;
    color: #121212;
    margin-top: 30px;
    letter-spacing: -3%;

}

.about_us-btn {
    width: 255px;
    height: 67px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    background-color: #AD1818;
    margin-top: 30px;
}

.projects {
    max-width: 1180px;
    margin: 0 auto;
    border: 2px solid white;


}


.items__list {
    max-width: 1180px;
    font-family: Manrope;
    margin: 0 auto 150px;
}

.titele__projects {
    margin-bottom: 30px;
    max-width: 79px;
    height: 25px;
    font-size: 18px;
    font-weight: 400;
    color: #121212;
    line-height: 24.59px;
    letter-spacing: -0.03em;
}

.item {
    width: 100%;
    height: 548px;
    margin-bottom: 90px;
}

.item__image {
    background-position: center;
    display: block;
    width: 100%;
    height: 450px;
    margin-bottom: 15px;


}

.item__text {
    margin-bottom: 15px;
    max-width: 542px;
    height: 41px;
    color: #121212;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;

}


.item__link {
    max-width: 127px;
    height: 27px;
    font-size: 20px;
    font-weight: 400;
    color: #AD1818;
    line-height: 27.32px;
    text-decoration: none;
    letter-spacing: -0.03em;

}

.btn__projects {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 153px;
    background-color: white;
    border: 1px solid #AD1818;
    font-family: Manrope;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    color: #AD1818;

}

.btn__projects:hover {
    border: 1px solid #AD1818;
    background-color: #AD1818;
    color: #FFFFFF;

}

@media (max-width: 1199px) {
    main {
        width: 100%;
        padding-top: 128px;
        padding-left: 125px;
        padding-right: 125px;
    }

    .development__team-title {
        max-width: 956px;
        font-size: 60px;
        line-height: 60px;
    }

    .development__team-description {
        width: 430px;
        font-size: 20px;
        line-height: 27px;

    }

    .about_us-title {
        font-size: 18px;
        line-height: 25px;
    }

    .about_us-description {
        width: 1048px;
        font-size: 45px;
        line-height: 61px;

    }

    .about_us-btn {
        width: 255px;
        height: 67px;
        font-size: 20px;
        line-height: 27px;
    }

    .item__text {
        max-width: 542px;
        height: 41px;
        font-size: 30px;
        line-height: 41px;
    }
    .container__black {
        width: 1400px;
        margin: 0 auto;
        
    }

}

@media (max-width: 928px) {
    main {
        width: 100%;
        padding-top: 278px;
        padding-left: 17px;
        padding-right: 17px;
    }

    .development__team-title {
        width: 802px;
        font-size: 50px;
        line-height: 60px;
    }

    .development__team-description {
        width: 430px;
        font-size: 20px;
        line-height: 27px;
    }

    .about_us-title {
        font-size: 18px;
        line-height: 25px;
    }

    .about_us-description {
        width: 690px;
        font-size: 35px;
        line-height: 48px;

    }

    .item__image {
        max-width: 100%;
    }

    .about_us-btn {
        width: 255px;
        height: 67px;
        font-size: 20px;
        line-height: 27px;
    }

    .item__text {
        max-width: 452px;
        height: 34px;
        font-size: 25px;
        line-height: 34px;
    }
    .container__black {
        width: 968px;
       }
       .services__container {
        flex-direction: column;
        /* width: calc(50% - 5px); */

        /* column-gap: 10px; */

        }
       .services__item {
        width: 460px;
                
    }
    
        .btn__services {
            
            width: 928px;
            height: 153px;
           margin-top: 60px;
           margin-bottom: 80px;
            font-size: 30px;
           line-height: 41px;
            }
        .services__image {
            width: 460px;
            height: 315px;
        }
}
@media (max-width: 576px) {
    main {
        width: 100%;
        padding-top: 108px;
        padding-left: 13px;
        padding-right: 13px;
    }

    .development__team-title {
        width: 348px;
        font-size: 30px;
        line-height: 32px;
    }

    .development__team-description {
        width: 312px;
        font-size: 16px;
        line-height: 22px;
    }

    .about_us-title {
        font-size: 14px;
        line-height: 19px;
    }

    .about_us-description {
        width: 346px;
        font-size: 22px;
        line-height: 30px;

    }

    .about_us-btn {
        width: 194px;
        height: 51px;
        font-size: 16px;
        line-height: 22px;
    }

    .titele__projects {
        max-width: 62px;
        height: 19px;
        font-size: 14px;
        line-height: 19px;
    }

    .item__text {
        max-width: 326px;
        height: 25px;
        font-size: 18px;
        line-height: 25px;
    }

    .item__link {
        max-width: 101px;
        height: 22px;
        font-size: 16px;
        line-height: 22px;
    }

    .btn__projects {
        width: 100%;
        height: 100px;
        font-size: 22px;
        line-height: 30px;
    }
    .container__black {
        width: 386px;
       }
       .services__item {
        width: 100%;
                
    }
    .services__container {
        flex-direction: column;
        
        }
        .btn__services {
            
            width: 100%;
            height: 100px;
           margin-top: 60px;
           margin-bottom: 80px;
            font-size: 22px;
           line-height: 30px;
            }
       
}

.container__black {
    width: 1400px;
    background-color: #121212;
    margin: 0 auto;
    color: #FFFFFF;
}

.services__title {
    font-size: 18px;
    font-weight: 400;
    padding: 151px 0 0 127px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
}

.services__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 85px;
    padding-left: 125px;
    padding-right: 123px;
    margin-top: 30px;
}

.services__item {
    position: relative;
    
}


.services__image {
    max-width: 572px;
    height: 389px;
}

.services__cost {
    display: block;
    position: absolute;
    width: 211px;
    height: 40px;
    border: 1px solid #AD1818;
    background-color: #AD1818;
    border-radius: 5px;
    margin-top: 32px;
    margin-left: 30px;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 22px;
    font-weight: 400;
    line-height: 30.05px;
    letter-spacing: -0.03em;
    
}
.btn__services {
    box-sizing: border-box;
    max-width: 1150px;
    height: 153px;
   margin-top: 106px;
   margin-bottom: 150px;
    border-radius: 5px;
    background-color:  #AD1818;
    border: 1px solid #AD1818;
    font-family: Manrope;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.services__description {
   padding-top: 25px;
    padding-left: 3px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;

}

.section__bed {
    max-width: 1400px;
    height: 717px;
    margin: 0 auto;
    background-image: url(/resources/bad.png);
    background-color: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.52%, rgba(0, 0, 0, 0.4) 82.81%);
}

.text__bed {
    width: 443px;
    font-size: 30px;
    padding-top: 575px;
    padding-left: 125px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.contacts {
    max-width: 1180px;
    /* width: 473px; */
    margin: 0 auto;
    max-width: 1180px;
}

.contacts-container {
    padding-top: 150px;
    padding-bottom: 150px;


}

.title__contacts {
    width: 90px;
    height: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    padding-bottom: 32px;
    color: #121212;
}

.tel {
    box-sizing: border-box;
    padding-bottom: 30px;
}

.contacts__tel {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    color: #121212;
    letter-spacing: -0.03em;
    text-decoration: none;
}

.mail {
    box-sizing: border-box;
}

.contacts__mail {
    box-sizing: border-box;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
    text-decoration: none;
}

.contacts__mail_active {
    text-decoration: underline;
    opacity: 0.5;
}


.foot__nav {
    width: 1400px;
    height: 229px;
    margin: 0 auto;
    background-color: #121212;
}

.list__nav {
    height: 25px;
    padding-left: 470px;
    padding-top: 60px;
}

.link__nav {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.list__nav :first-child {
    padding-right: 53px;
    text-decoration: underline;
}

.text__nav {

    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    padding-left: 509px;
    margin-top: 87px;
    color: #FFFFFF;
}